.o-card{
    min-height: 24em;
    border-radius: 25%;
}

.o-cardTitle{
    height: 7rem;
    margin: 0 20px;
}

.o-cardText{
    height: 18rem;
    margin: 0 20px;
}

.o-cardHeader{
    margin:0;
    background-color: black;
    color: white;
}

.o-cardBody{
    padding: 0;
}