.o-container-options{
     display: flex;
     justify-content: space-evenly;
     padding: 0 50px;
     flex-wrap: wrap;
}

.o-name{

     font-size: 16px;
     padding: 20px;
}

.o-container-option{
     text-align: center;
     width: 220px;
}

